.headerContainer {
    justify-content: center;
    align-items: center;
}

.headerTitle {
    font-size: 24px;
    background-color: rgb(6, 18, 80);
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 0px 0;
    font-weight:600;
    font-size: xx-large;
    padding: 20px 0;
    border:10px solid rgb(3, 11, 50);
}

.headerImage
{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    padding-bottom: 10px;
}
