.navContainer
{
    background-color: rgb(207, 226, 240);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(173, 193, 209);
    flex-wrap: wrap;
}

.navButton
{ 
    background-color: rgb(146, 192, 127);
    padding: 8px 20px;
    margin: 4px;
    border-radius: 5px;
    border: 2px solid rgb(3, 8, 12);
    font-size: medium;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: hsl(168, 86%, 11%);
}

.navButton:hover
{
    background-color: rgb(120, 158, 104);
    cursor: pointer;
}